@import 'tailwindcss';

/*********************
Root Styles 
**********************/
:root {
  --background: #050817;
  --foreground: #0c1333;
  --secondary: #fafafa;
  --accent: #ed3e33;
  --accent-two: #97a7bf;
  --font-outfit: var(--font-outfit);
  --font-dm-sans: var(--font-dm-sans);
  --font-size-p-large: clamp(1.15rem, 5vw, 1.875rem);
  --selection: rgb(212, 61, 162);
  --selection-color: rgb(0, 0, 0);
}

:root.light {
  --background: #fafafa;
  --foreground: #ebebeb;
  --secondary: #050817;
  --accent: #006af5;
  --accent-two: #2e3a4d;
  --selection: rgb(61, 212, 106);
  --selection-color: rgb(0, 0, 0);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --color-accent-two: var(--accent-two);
  --font-outfit: var(--font-outfit);
  --font-dm-sans: var(--font-dm-sans);
}

/*********************
HTML Styles 
**********************/
body {
  background-color: var(--background);
  color: var(--secondary);
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

html {
  scroll-behavior: smooth;
}

::selection {
  background-color: var(--selection);
  color: #050817;
}

section {
  overflow: hidden;
}

h1 {
  font-family: var(--font-outfit);
  font-size: clamp(3.125rem, 5vw, 6.25rem) !important;
  font-weight: 700;
  margin-bottom: 15px;
  line-height: 1.1;
}

h2 {
  font-family: var(--font-outfit);
  font-size: clamp(2.25rem, 5vw, 3.75rem) !important;
  font-weight: 700;
  margin-bottom: 30px;
  text-transform: capitalize;
}

h3 {
  font-family: var(--font-outfit);
  font-size: clamp(1.25rem, 5vw, 2rem) !important;
  font-weight: 700;
}

h4 {
  font-family: var(--font-outfit);
  font-size: clamp(1rem, 5vw, 1.375rem) !important;
  font-weight: 700;
}

p {
  font-family: var(--font-dm-sans);
  color: var(--accent-two);
  font-size: 1rem;
  line-height: 1.625rem;
  margin-bottom: 30px;
}

.container {
  width: 100%;
  max-width: 1100px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
}

/*********************
Hero Styles 
**********************/
.hero_container {
  height: 100%;
}

span.hero {
  font-family: var(--font-dm-sans);
  text-transform: uppercase;
  color: var(--accent);
  letter-spacing: 21%;
  font-size: clamp(0.875rem, 5vw, 1.25rem);
  font-weight: 700;
}

p.hero {
  font-family: var(--font-dm-sans);
  color: var(--accent-two);
  font-size: clamp(1.15rem, 2vw, 1.875rem);
  margin-bottom: 60px;
  line-height: 1.5;
}

/*********************
Buttons Styles 
**********************/

a.hero_button {
  font-family: var(--font-outfit);
  background-color: var(--background);
  color: var(--secondary);
  padding: 14px 20px;
  border-radius: 100px;
  text-transform: capitalize;
  font-size: clamp(1.05rem, 5vw, 1.25rem) !important;
  display: inline-flex;
  align-items: center;
  gap: 15px;
  box-shadow: 0px 0px 0px 0px var(--accent);
  transition:
    background-color 0.5s ease-in-out,
    color 0.5s ease-in-out,
    box-shadow 0.5s ease-in-out;
}

a.hero_button.default {
  background-color: var(--foreground);
}

a.hero_button:hover {
  background-color: var(--accent);
  color: var(--background);
  box-shadow: 0px 0px 20px 2px var(--accent);
}

span.button_arrow svg {
  width: 30px;
  height: auto;
  fill: var(--accent);
  transform: rotate(-60deg);
  transition:
    transform 0.5s ease-in-out,
    fill 0.5s ease-in-out;
}

a.hero_button:hover span.button_arrow svg {
  transform: rotate(0deg);
  fill: var(--background);
}

/*********************
Intro Styles 
**********************/
.preloader {
  position: absolute;
  height: 100vh;
  background-color: var(--accent);
  z-index: 14;
  width: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  top: 0;
  margin-top: -20px;
}

/*********************
Header Styles 
**********************/

svg.header_logo {
  fill: var(--accent);
  position: relative;
  transition:
    fill 0.5s ease-in-out,
    filter 0.5s ease-in-out;
}

svg.header_logo:hover {
  filter: drop-shadow(0px 0px 5px var(--accent));
}

.header_links_container a,
.header_links_container span {
  display: inline-block;
}

a.hero_link,
span.hero_link {
  font-family: var(--font-dm-sans);
  color: var(--accent-two);
  text-transform: capitalize;
  font-size: 1rem;
  transition: color 0.5s ease-in-out;
  display: flex;
  align-items: center;
  position: relative;
  height: 2.75em;
  z-index: 1;
}

a.hero_link.desktop:hover,
a.hero_link:focus {
  color: var(--secondary);
  transition: color 0.5s ease-in-out;
}
a.hero_link.desktop::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: var(--accent);
  transform: scaleX(0);
  transform-origin: var(--origin, left);
  transition: transform 0.4s ease-in-out;
  z-index: -1;
  /* box-shadow: 0px 0px 10px 1px var(--accent); */
}

a.hero_link:hover::after {
  transform: scaleX(1);
}

a.hero_link:not(:hover)::after {
  transform-origin: var(--origin, right);
}

span.bright_dot.hero_link::before {
  content: '';
  display: inline-flex;
  width: 10px;
  height: 10px;
  background-color: #32b246;
  border-radius: 100%;
  margin-right: 15px;
  align-items: center;
  box-shadow: 0 0 6px 2px #57ca68;
  animation: pulse-glow 2s infinite ease-in-out;
}

@keyframes pulse-glow {
  0%,
  100% {
    box-shadow:
      0 0 10px #57ca68,
      0 0 20px #57ca68;
  }
  50% {
    box-shadow:
      0 0 12px #57ca68,
      0 0 24px #57ca68,
      0 0 32px #57ca68;
  }
}

svg.theme_icon {
  fill: var(--accent-two);
  transition: fill 0.3s ease;
}

svg.theme_icon:hover {
  fill: var(--accent);
  animation: spin 0.5s ease forwards;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

svg.theme_icon {
  transition:
    fill 0.5s ease-in-out,
    filter 0.5s ease-in-out;
}

svg.theme_icon:hover {
  filter: drop-shadow(0px 0px 2px var(--accent));
}

/* Scroll Mouse Styles */

.mouse_scroll_svg path {
  pointer-events: none;
}

.mouse_scroll_svg {
  pointer-events: all;
}

.mouse_path {
  overflow: visible;
  transition: filter 0.5s ease-in-out;
}

.mouse_scroll_svg:hover .mouse_path {
  filter: drop-shadow(0px 0px 10px var(--accent));
}
.mouse_scroll_box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.line {
  display: block;
  width: 1px;
  height: 0;
  background: linear-gradient(
      to bottom,
      var(--foreground) 10%,
      var(--accent-two),
      var(--foreground)
    )
    10%;
  margin-bottom: 12px;
  animation: drawLine 1.2s ease-out forwards;
}

@keyframes drawLine {
  from {
    height: 0;
  }
  to {
    height: 150px;
  }
}

.arrow-1 {
  opacity: 0.15;
  animation: arrowPulse 1.8s ease-in-out 0s infinite;
}
.arrow-2 {
  opacity: 0.15;
  animation: arrowPulse 1.8s ease-in-out 0.3s infinite;
}
.arrow-3 {
  opacity: 0.15;
  animation: arrowPulse 1.8s ease-in-out 0.6s infinite;
}

@keyframes arrowPulse {
  0% {
    opacity: 0.15;
  }
  33% {
    opacity: 1;
  }
  66% {
    opacity: 0.15;
  }
  100% {
    opacity: 0.15;
  }
}

/*********************
Hero Styles 
**********************/

span.animate_on_scroll {
  animation: fadeSlideUp 0.6s ease forwards;
  animation-delay: 0.6s;
  opacity: 0;
}

h1.animate_on_scroll {
  animation: fadeSlideUp 0.6s ease forwards;
  animation-delay: 0.6s;
  opacity: 0;
}

p.animate_on_scroll {
  animation: fadeSlideUp 0.8s ease forwards;
  animation-delay: 0.8s;
  opacity: 0;
}

a.animate_on_scroll {
  animation: fadeSlideUp 0.8s ease forwards;
  animation-delay: 0.8s;
  opacity: 0;
}

@keyframes fadeSlideUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/*********************
Home Intro Styles 
**********************/

.margin_top_container {
  margin-top: 120px;
}

.intro_text {
  margin-bottom: 60px;
}

.see_work_line {
  display: block;
  width: 1px;
  height: 0;
  background: linear-gradient(
      to bottom,
      var(--background) 10%,
      var(--accent-two),
      var(--background)
    )
    10%;
  margin-bottom: 12px;
  animation: drawLine 1.2s ease-out forwards;
}

@keyframes drawLine {
  from {
    height: 0;
  }
  to {
    height: 150px;
  }
}

/*********************
Tools Section Styles 
**********************/

.tool_card {
  background-color: var(--foreground);
  padding: 30px;
  border-radius: 20px;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  gap: 30px;
  transition: all 0.3s ease-in-out;
  width: 100%;
}

/* .tool_card:hover {
  transform: translateY(-5px);
 border: 2px solid var(--accent);
  box-shadow: 0 10px 20px rgba(237, 62, 51, 0.2); 
} */

.cards_grid {
  gap: 30px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
}

ul.skills_list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 20px;
}

li.skill_item {
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: flex-start;
  width: 100%;
}

.skill_item svg {
  width: 25px !important;
  height: auto !important;
  fill: var(--accent);
}

.skill_name {
  font-family: var(--font-dm-sans);
  color: var(--accent-two);
  font-size: 1rem;
}

/*********************
Work Section Styles 
**********************/

.work_item {
  border-top: 1px solid var(--accent-two);
  padding: 60px 0;
}

.work_title_icon h3 {
  color: var(--accent-two);
}

p.work_type {
  text-transform: lowercase;
  margin-bottom: 0 !important;
}

a.work_link h3,
a.work_link p {
  transition:
    background-color 0.5s ease-in-out,
    color 0.5s ease-in-out;
}

a.work_link:hover h3,
a.work_link:hover p {
  color: var(--secondary) !important;
  transition:
    background-color 0.5s ease-in-out,
    color 0.5s ease-in-out;
}

.work_title_icon svg {
  color: var(--accent-two);
  transition: color 0.3s ease-in-out;
}

a.work_link:hover .work_title_icon svg {
  color: var(--accent);
}

.see_more_btn {
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
  width: 100px;
  height: 100px;
  background: var(--accent);
  border-radius: 50%;
  border: 2px solid var(--background);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 14px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.see_more_btn::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: var(--accent);
  opacity: 0;
  transform: scale(1);
  animation: none;
}

a.work_link:hover .see_more_btn {
  opacity: 1;
}

a.work_link:hover .see_more_btn::after {
  animation: wave 1.2s ease-out infinite;
}

@keyframes wave {
  0% {
    transform: scale(1);
    opacity: 0.5;
  }
  100% {
    transform: scale(1.6);
    opacity: 0;
  }
}

/*********************
Testimonial Section Styles 
**********************/

.review_marquee {
  animation: marquee 60s linear infinite;
}

.review_marquee_reverse {
  animation: marquee 60s linear infinite reverse;
}
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.quote_icon_container svg {
  fill: var(--accent);
}

/*********************
Footer Styles 
**********************/
.after_content_svg svg {
  width: 100%;
  height: auto;
}

/*********************
Media Query Styles 
**********************/

@media screen and (min-width: 768px) {
  .hamburger_menu_container {
    display: none;
  }
}

@media screen and (max-width: 902px) {
  .cards_grid {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .tool_card {
    width: 100%;
    transition: all 0.3s ease-in-out;
  }
}

@media screen and (max-width: 768px) {
  .header_links_container,
  .mouse_scroll_box {
    display: none;
  }

  span.button_arrow svg {
    width: 24px;
    height: auto;
  }

  .work_title_icon svg,
  .work_title_icon {
    width: 100%;
    height: auto;
  }
}
